@import url(../styles/universal.css);
.case-study-hero {
    margin-top: 8em;
}

i {
    font-size: 0.75rem;
}

img {
    height: 75vh;
    width: fit-content;
}

body,
p {
    color: #cccc;
    font-family: cursive;
    line-height: 1.5;
    font-weight: 300;
}

h1,
h2 {
    color: #f9f9f9;
}

blockquote {
    font-family: cursive;
    line-height: 1.5;
    font-weight: 300;
}

.role {
    ul {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8vw;
        list-style: square;
        padding: 0 2vw;
    }
}

.social-icons {
    gap: 2rem;
    display: inline-flex;
    flex-direction: row;
}

.secondary-cta {
    a {
        color: #f9f9f9;
    }
}

@media screen and (min-width:250px) and (max-width:375px) {
    .image-section {
        object-fit: cover;
    }
}

@media screen and (min-width:375px) and (max-width:450px) {}