@import url(universal.css);
@media screen and (min-width:250px) and (max-width:375px) {
    .nav-bar {
        background-color: #060613;
        height: fit-content;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 999;
        .nav-bar-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            z-index: 999;
            .nav-links {
                display: flex;
                flex-direction: column;
                font-size: 1.2rem;
                gap: 2vw;
                height: 100vh;
                right: 0;
                left: 0;
                top: 3.0em;
                position: fixed;
                align-items: center;
                width: 100%;
                text-align: center;
                transform: translateX(100%);
                transition: transform 0.5 ease-in-out;
                background-color: #050514;
                padding-top: 20vh;
                gap: 10vh;
                font-size: 20px;
                span {
                    font-size: 24px;
                    font-weight: 900;
                    text-align: center;
                }
            }
            .nav-links li {
                opacity: 0;
            }
            .burger-icon div {
                height: 0.0625rem;
                width: 1.5rem;
                background-color: #f9f9f9;
                margin: 0.5rem;
                transition: all 0.5s ease;
            }
            .burger-icon {
                display: block;
                cursor: pointer;
            }
            .active {
                font-weight: 700;
                color: #62617a;
            }
            .nav-active {
                transform: translateX(0);
            }
        }
        @keyframes navLinkFade {
            from {
                opacity: 0;
                transform: translate(50px);
            }
            to {
                opacity: 1;
                transform: translate(0);
            }
        }
        .toggle .line1 {
            transform: rotate(-45deg) translate(-0.375rem, 0.5rem);
        }
        .toggle .line2 {
            opacity: 0;
        }
        .toggle .line3 {
            transform: rotate(45deg) translate(-0.375rem, -0.5rem);
        }
    }
     :root,
    body {
        font-size: 1.125rem;
    }
    .nav-bar {
        .logo {
            width: 4rem;
            height: fit-content;
        }
        .burger-icon,
        .close-icon {
            display: block;
            text-align: center;
            color: #f9f9f9;
            padding: 10px;
            font-size: 1.6rem;
        }
        .nav-links,
        .close-icon {
            display: none;
        }
    }
    .hero {
        .greeting {
            padding-bottom: 3.75vh;
            font-weight: 500;
        }
        .cta {
            display: inline-flex;
            flex-direction: row;
        }
    }
    a {
        text-decoration: none;
        color: #f9f9f9;
    }
    ul {
        list-style-type: none;
        list-style: none;
    }
    button {
        border: none;
        background: none;
        font-weight: 550;
    }
    .hero {
        height: 100lvh;
        margin-top: 30vh;
        color: #f9f9f9;
        .cta {
            width: 100%;
            display: inline-flex;
            flex-direction: column;
            margin-top: 7.5vh;
            gap: 3.75vh;
        }
        button {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            width: fit-content;
            gap: 8px;
            height: fit-content;
            color: #f9f9f9;
            padding: 10px;
            border-radius: 12px;
            font-size: 18px;
            font-weight: 400;
            img {
                width: 24px;
                height: 24px;
                border-radius: 50%;
            }
        }
    }
    .work-cards-section {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;
        height: 100%;
        .card {
            background-color: #050514;
            padding: 0.5rem;
            border-radius: 24px;
            height: auto;
            position: relative;
            color: #f9f9f9;
            img {
                border-radius: 16px 16px 0 0;
            }
            .project-type {
                position: absolute;
                top: 5%;
                right: 5%;
                display: inline-flex;
                flex-direction: row;
                text-align: center;
                align-items: center;
                gap: 8px;
                background-color: #62617a;
                padding: 8px;
                border-radius: .75rem;
                font-size: 14px;
                font-weight: 700;
                .dot {
                    height: 12px;
                    width: 12px;
                    background-color: #033d03;
                    border-radius: 50%;
                }
            }
            .description {
                width: 100%;
                align-items: center;
            }
            .name {
                font-size: 18px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 600;
            }
            .info {
                font-size: 16px;
                font-weight: 400;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                padding: 8px 0;
            }
            .device {
                font-size: 16px;
                display: flex;
                padding: 8px 0;
            }
            .case-study {
                margin: 8px 0;
                font-size: 16px;
                text-align: center;
                justify-content: center;
                align-items: center;
                padding: 10px;
                border-radius: 0.5rem;
                height: 48px;
                color: #0a0a25;
                background-color: #f9f9f9;
                width: 100%;
            }
        }
    }
    img {
        width: 100%;
        height: fit-content;
    }
    /* WHEN NOT DESIGNING SECTION*/
    .not-designing {
        margin: 20vh 0;
        color: #f9f9f9;
        width: 100%;
        .code-project-container {
            width: 100%;
            margin: 2rem 0;
            gap: .75rem;
            display: inline-flex;
            flex-direction: column;
            .project-card {
                background-color: #050514;
                padding: .5rem;
                border-radius: .75rem;
                width: 100%;
                .github {
                    width: 100%;
                    font-size: 16px;
                    color: #f9f9f9;
                    padding: 10px;
                    margin: .5rem 0;
                    background-color: #0a0a25;
                    border-radius: .75rem;
                }
            }
        }
    }
    /*SEND MAIL SETION/ CONTACT ME*/
    .send-mail {
        height: 100vw;
        color: #f9f9f9;
        .send-mail-paragraph {
            font-size: 16px;
            margin-top: 2rem;
        }
        .email-me {
            width: 100%;
            display: inline-flex;
            flex-direction: column;
        }
        .email-me-cta {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;
        }
    }
    footer {
        align-items: center;
        width: 100%;
        justify-content: center;
        text-align: center;
        color: #f9f9f9;
        #logo {
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            img {
                width: 5rem;
                justify-content: center;
                align-items: center;
            }
        }
        .footer-links {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.5vh;
            align-items: center;
            width: 100%;
            margin: 2vh 0;
            font-size: 1.25rem;
        }
        .social-icons {
            display: inline-flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding: 1.5rem 0;
            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-position: center;
                background-size: cover;
            }
        }
    }
}

@media screen and (min-width:375px) and (max-width:450px) {
    .nav-bar {
        background-color: #060613;
        height: fit-content;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 999;
        .nav-bar-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            z-index: 999;
            .nav-links {
                display: flex;
                flex-direction: column;
                font-size: 1.2rem;
                gap: 2vw;
                height: 100vh;
                right: 0;
                left: 0;
                top: 3.0em;
                position: fixed;
                align-items: center;
                width: 100%;
                text-align: center;
                transform: translateX(100%);
                transition: transform 0.5 ease-in-out;
                background-color: #050514;
                padding-top: 20vh;
                gap: 10vh;
                font-size: 20px;
                span {
                    font-size: 24px;
                    font-weight: 900;
                    text-align: center;
                }
            }
            .nav-links li {
                opacity: 0;
            }
            .burger-icon div {
                height: 0.0625rem;
                width: 1.5rem;
                background-color: #f9f9f9;
                margin: 0.5rem;
                transition: all 0.5s ease;
            }
            .burger-icon {
                display: block;
                cursor: pointer;
            }
            .active {
                font-weight: 700;
                color: #62617a;
            }
            .nav-active {
                transform: translateX(0);
            }
        }
        @keyframes navLinkFade {
            from {
                opacity: 0;
                transform: translate(50px);
            }
            to {
                opacity: 1;
                transform: translate(0);
            }
        }
        .toggle .line1 {
            transform: rotate(-45deg) translate(-0.375rem, 0.5rem);
        }
        .toggle .line2 {
            opacity: 0;
        }
        .toggle .line3 {
            transform: rotate(45deg) translate(-0.375rem, -0.5rem);
        }
    }
     :root,
    body {
        font-size: 20px;
    }
    .nav-bar {
        .logo {
            width: 4rem;
            height: fit-content;
        }
        .burger-icon,
        .close-icon {
            display: block;
            text-align: center;
            color: #f9f9f9;
            padding: 10px;
            font-size: 1.6rem;
        }
        .nav-links,
        .close-icon {
            display: none;
        }
    }
    .hero {
        .greeting {
            padding-bottom: 3.75vh;
            font-weight: 500;
        }
        .cta {
            display: inline-flex;
            flex-direction: row;
        }
    }
    a {
        text-decoration: none;
        color: #f9f9f9;
    }
    ul {
        list-style-type: none;
        list-style: none;
    }
    button {
        border: none;
        background: none;
        font-weight: 550;
    }
    .hero {
        height: 100lvh;
        margin-top: 30vh;
        color: #f9f9f9;
        .cta {
            width: 100%;
            display: inline-flex;
            flex-direction: row;
            margin-top: 7.5vh;
            gap: 3.75vh;
        }
        button {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            width: fit-content;
            gap: 8px;
            height: fit-content;
            color: #f9f9f9;
            padding: 10px;
            border-radius: 12px;
            font-size: 18px;
            font-weight: 400;
            img {
                width: 24px;
                height: 24px;
                border-radius: 50%;
            }
        }
    }
    .work-cards-section {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;
        height: 100%;
        .card {
            background-color: #050514;
            padding: 0.5rem;
            border-radius: 24px;
            height: auto;
            position: relative;
            color: #f9f9f9;
            img {
                border-radius: 16px 16px 0 0;
            }
            .project-type {
                position: absolute;
                top: 5%;
                right: 5%;
                display: inline-flex;
                flex-direction: row;
                text-align: center;
                align-items: center;
                gap: 8px;
                background-color: #62617a;
                padding: 8px;
                border-radius: .75rem;
                font-size: 14px;
                font-weight: 700;
                .dot {
                    height: 12px;
                    width: 12px;
                    background-color: #033d03;
                    border-radius: 50%;
                }
            }
            .description {
                width: 100%;
                align-items: center;
            }
            .name {
                font-size: 18px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 600;
            }
            .info {
                font-size: 16px;
                font-weight: 400;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                padding: 8px 0;
            }
            .device {
                font-size: 16px;
                display: flex;
                padding: 8px 0;
            }
            .case-study {
                margin: 8px 0;
                font-size: 16px;
                text-align: center;
                justify-content: center;
                align-items: center;
                padding: 10px;
                border-radius: 0.5rem;
                height: 48px;
                color: #0a0a25;
                background-color: #f9f9f9;
                width: 100%;
            }
        }
    }
    img {
        width: 100%;
        height: fit-content;
    }
    /* WHEN NOT DESIGNING SECTION*/
    .not-designing {
        margin: 20vh 0;
        color: #f9f9f9;
        width: 100%;
        .code-project-container {
            width: 100%;
            margin: 2rem 0;
            gap: .75rem;
            display: inline-flex;
            flex-direction: column;
            .project-card {
                background-color: #050514;
                padding: .5rem;
                border-radius: .75rem;
                width: 100%;
                .github {
                    width: 100%;
                    font-size: 16px;
                    color: #f9f9f9;
                    padding: 10px;
                    margin: .5rem 0;
                    background-color: #0a0a25;
                    border-radius: .75rem;
                }
            }
        }
    }
    /*SEND MAIL SETION/ CONTACT ME*/
    .send-mail {
        height: 100vw;
        color: #f9f9f9;
        .send-mail-paragraph {
            font-size: 16px;
            margin-top: 2rem;
        }
        .email-me {
            width: 100%;
            display: inline-flex;
            flex-direction: column;
        }
        .email-me-cta {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;
        }
    }
    footer {
        align-items: center;
        width: 100%;
        justify-content: center;
        text-align: center;
        color: #f9f9f9;
        #logo {
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            img {
                width: 5rem;
                justify-content: center;
                align-items: center;
            }
        }
        .footer-links {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.5vh;
            align-items: center;
            width: 100%;
            margin: 2vh 0;
            font-size: 1.25rem;
        }
        .social-icons {
            display: inline-flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding: 1.5rem 0;
            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-position: center;
                background-size: cover;
            }
        }
    }
}

@media screen and (min-width:450px) and (max-width:550px) {
    .nav-bar {
        background-color: #060613;
        height: fit-content;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 999;
        .nav-bar-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            z-index: 999;
            .nav-links {
                display: flex;
                flex-direction: column;
                font-size: 1.2rem;
                gap: 2vw;
                height: 100vh;
                right: 0;
                left: 0;
                top: 3.0em;
                position: fixed;
                align-items: center;
                width: 100%;
                text-align: center;
                transform: translateX(100%);
                transition: transform 0.5 ease-in-out;
                background-color: #050514;
                padding-top: 20vh;
                gap: 10vh;
                font-size: 20px;
                span {
                    font-size: 24px;
                    font-weight: 900;
                    text-align: center;
                }
            }
            .nav-links li {
                opacity: 0;
            }
            .burger-icon div {
                height: 0.0625rem;
                width: 1.5rem;
                background-color: #f9f9f9;
                margin: 0.5rem;
                transition: all 0.5s ease;
            }
            .burger-icon {
                display: block;
                cursor: pointer;
            }
            .active {
                font-weight: 700;
                color: #62617a;
            }
            .nav-active {
                transform: translateX(0);
            }
        }
        @keyframes navLinkFade {
            from {
                opacity: 0;
                transform: translate(50px);
            }
            to {
                opacity: 1;
                transform: translate(0);
            }
        }
        .toggle .line1 {
            transform: rotate(-45deg) translate(-0.375rem, 0.5rem);
        }
        .toggle .line2 {
            opacity: 0;
        }
        .toggle .line3 {
            transform: rotate(45deg) translate(-0.375rem, -0.5rem);
        }
    }
     :root,
    body {
        font-size: 20px;
    }
    .nav-bar {
        .logo {
            width: 4rem;
            height: fit-content;
        }
        .burger-icon,
        .close-icon {
            display: block;
            text-align: center;
            color: #f9f9f9;
            padding: 10px;
            font-size: 1.6rem;
        }
        .nav-links,
        .close-icon {
            display: none;
        }
    }
    .hero {
        .greeting {
            padding-bottom: 3.75vh;
            font-weight: 500;
        }
        .cta {
            display: inline-flex;
            flex-direction: row;
        }
    }
    a {
        text-decoration: none;
        color: #f9f9f9;
    }
    ul {
        list-style-type: none;
        list-style: none;
    }
    button {
        border: none;
        background: none;
        font-weight: 550;
    }
    .hero {
        height: 100lvh;
        margin-top: 30vh;
        color: #f9f9f9;
        .cta {
            width: 100%;
            display: inline-flex;
            flex-direction: row;
            margin-top: 7.5vh;
            gap: 4.25vh;
        }
        button {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            width: fit-content;
            gap: 8px;
            height: fit-content;
            color: #f9f9f9;
            padding: 10px;
            border-radius: 12px;
            font-size: 18px;
            font-weight: 400;
            img {
                width: 24px;
                height: 24px;
                border-radius: 50%;
            }
        }
    }
    .work-cards-section {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;
        height: 100%;
        .card {
            background-color: #050514;
            padding: 0.5rem;
            border-radius: 24px;
            height: auto;
            position: relative;
            color: #f9f9f9;
            img {
                border-radius: 16px 16px 0 0;
            }
            .project-type {
                position: absolute;
                top: 5%;
                right: 5%;
                display: inline-flex;
                flex-direction: row;
                text-align: center;
                align-items: center;
                gap: 8px;
                background-color: #62617a;
                padding: 8px;
                border-radius: .75rem;
                font-size: 14px;
                font-weight: 700;
                .dot {
                    height: 12px;
                    width: 12px;
                    background-color: #033d03;
                    border-radius: 50%;
                }
            }
            .description {
                width: 100%;
                align-items: center;
            }
            .name {
                font-size: 18px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 600;
            }
            .info {
                font-size: 16px;
                font-weight: 400;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                padding: 8px 0;
            }
            .device {
                font-size: 16px;
                display: flex;
                padding: 8px 0;
            }
            .case-study {
                margin: 8px 0;
                font-size: 16px;
                text-align: center;
                justify-content: center;
                align-items: center;
                padding: 10px;
                border-radius: 0.5rem;
                height: 48px;
                color: #0a0a25;
                background-color: #f9f9f9;
                width: 100%;
            }
        }
    }
    img {
        width: 100%;
        height: fit-content;
    }
    /* WHEN NOT DESIGNING SECTION*/
    .not-designing {
        margin: 20vh 0;
        color: #f9f9f9;
        width: 100%;
        .code-project-container {
            width: 100%;
            margin: 2rem 0;
            gap: .75rem;
            display: inline-flex;
            flex-direction: column;
            .project-card {
                background-color: #050514;
                padding: .5rem;
                border-radius: .75rem;
                width: 100%;
                .github {
                    width: 100%;
                    font-size: 16px;
                    color: #f9f9f9;
                    padding: 10px;
                    margin: .5rem 0;
                    background-color: #0a0a25;
                    border-radius: .75rem;
                }
            }
        }
    }
    /*SEND MAIL SETION/ CONTACT ME*/
    .send-mail {
        height: 100vw;
        color: #f9f9f9;
        .send-mail-paragraph {
            font-size: 16px;
            margin-top: 2rem;
        }
        .email-me {
            width: 100%;
            display: inline-flex;
            flex-direction: column;
        }
        .email-me-cta {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;
        }
    }
    footer {
        align-items: center;
        width: 100%;
        justify-content: center;
        text-align: center;
        color: #f9f9f9;
        #logo {
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            img {
                width: 5rem;
                justify-content: center;
                align-items: center;
            }
        }
        .footer-links {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.5vh;
            align-items: center;
            width: 100%;
            margin: 2vh 0;
            font-size: 1.25rem;
        }
        .social-icons {
            display: inline-flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding: 1.5rem 0;
            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-position: center;
                background-size: cover;
            }
        }
    }
}

@media screen and (min-width:550px) and (max-width:650px) {
    .nav-bar {
        background-color: #060613;
        height: fit-content;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 999;
        .nav-bar-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            z-index: 999;
            .nav-links {
                display: flex;
                flex-direction: column;
                font-size: 1.2rem;
                gap: 2vw;
                height: 100vh;
                right: 0;
                left: 0;
                top: 3.0em;
                position: fixed;
                align-items: center;
                width: 100%;
                text-align: center;
                transform: translateX(100%);
                transition: transform 0.5 ease-in-out;
                background-color: #050514;
                padding-top: 20vh;
                gap: 10vh;
                font-size: 20px;
                span {
                    font-size: 24px;
                    font-weight: 900;
                    text-align: center;
                }
            }
            .nav-links li {
                opacity: 0;
            }
            .burger-icon div {
                height: 0.0625rem;
                width: 1.5rem;
                background-color: #f9f9f9;
                margin: 0.5rem;
                transition: all 0.5s ease;
            }
            .burger-icon {
                display: block;
                cursor: pointer;
            }
            .active {
                font-weight: 700;
                color: #62617a;
            }
            .nav-active {
                transform: translateX(0);
            }
        }
        @keyframes navLinkFade {
            from {
                opacity: 0;
                transform: translate(50px);
            }
            to {
                opacity: 1;
                transform: translate(0);
            }
        }
        .toggle .line1 {
            transform: rotate(-45deg) translate(-0.375rem, 0.5rem);
        }
        .toggle .line2 {
            opacity: 0;
        }
        .toggle .line3 {
            transform: rotate(45deg) translate(-0.375rem, -0.5rem);
        }
    }
     :root,
    body {
        font-size: 20px;
    }
    .nav-bar {
        .logo {
            width: 4rem;
            height: fit-content;
        }
        .burger-icon,
        .close-icon {
            display: block;
            text-align: center;
            color: #f9f9f9;
            padding: 10px;
            font-size: 1.6rem;
        }
        .nav-links,
        .close-icon {
            display: none;
        }
    }
    .hero {
        .greeting {
            padding-bottom: 3.75vh;
            font-weight: 500;
        }
        .cta {
            display: inline-flex;
            flex-direction: row;
        }
    }
    a {
        text-decoration: none;
        color: #f9f9f9;
    }
    ul {
        list-style-type: none;
        list-style: none;
    }
    button {
        border: none;
        background: none;
        font-weight: 550;
    }
    .hero {
        height: 100lvh;
        margin-top: 30vh;
        color: #f9f9f9;
        .cta {
            width: 100%;
            display: inline-flex;
            flex-direction: row;
            margin-top: 7.5vh;
            gap: 3.75vh;
        }
        button {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            width: fit-content;
            gap: 8px;
            height: fit-content;
            color: #f9f9f9;
            padding: 10px;
            border-radius: 12px;
            font-size: 18px;
            font-weight: 400;
            img {
                width: 24px;
                height: 24px;
                border-radius: 50%;
            }
        }
    }
    .work-cards-section {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;
        height: 100%;
        .card {
            background-color: #050514;
            padding: 0.5rem;
            border-radius: 24px;
            height: auto;
            position: relative;
            color: #f9f9f9;
            img {
                border-radius: 16px 16px 0 0;
            }
            .project-type {
                position: absolute;
                top: 5%;
                right: 5%;
                display: inline-flex;
                flex-direction: row;
                text-align: center;
                align-items: center;
                gap: 8px;
                background-color: #62617a;
                padding: 8px;
                border-radius: .75rem;
                font-size: 14px;
                font-weight: 700;
                .dot {
                    height: 12px;
                    width: 12px;
                    background-color: #033d03;
                    border-radius: 50%;
                }
            }
            .description {
                width: 100%;
                align-items: center;
            }
            .name {
                font-size: 18px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 600;
            }
            .info {
                font-size: 16px;
                font-weight: 400;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                padding: 8px 0;
            }
            .device {
                font-size: 16px;
                display: flex;
                padding: 8px 0;
            }
            .case-study {
                margin: 8px 0;
                font-size: 16px;
                text-align: center;
                justify-content: center;
                align-items: center;
                padding: 10px;
                border-radius: 0.5rem;
                height: 48px;
                color: #0a0a25;
                background-color: #f9f9f9;
                width: 100%;
            }
        }
    }
    img {
        width: 100%;
        height: fit-content;
    }
    /* WHEN NOT DESIGNING SECTION*/
    .not-designing {
        margin: 20vh 0;
        color: #f9f9f9;
        width: 100%;
        .code-project-container {
            width: 100%;
            margin: 2rem 0;
            gap: .75rem;
            display: inline-flex;
            flex-direction: column;
            .project-card {
                background-color: #050514;
                padding: .5rem;
                border-radius: .75rem;
                width: 100%;
                .github {
                    width: 100%;
                    font-size: 16px;
                    color: #f9f9f9;
                    padding: 10px;
                    margin: .5rem 0;
                    background-color: #0a0a25;
                    border-radius: .75rem;
                }
            }
        }
    }
    /*SEND MAIL SETION/ CONTACT ME*/
    .send-mail {
        height: 100vw;
        color: #f9f9f9;
        .send-mail-paragraph {
            font-size: 16px;
            margin-top: 2rem;
        }
        .email-me {
            width: 100%;
            display: inline-flex;
            flex-direction: column;
        }
        .email-me-cta {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;
        }
    }
    footer {
        align-items: center;
        width: 100%;
        justify-content: center;
        text-align: center;
        color: #f9f9f9;
        #logo {
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            img {
                width: 5rem;
                justify-content: center;
                align-items: center;
            }
        }
        .footer-links {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.5vh;
            align-items: center;
            width: 100%;
            margin: 2vh 0;
            font-size: 1.25rem;
        }
        .social-icons {
            display: inline-flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding: 1.5rem 0;
            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-position: center;
                background-size: cover;
            }
        }
    }
}