*,
 ::after,
 ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 92%;
    margin: 0 auto;
    content: " ";
}

li {
    list-style-type: none;
}

:root {
    background-color: #121212;
    list-style-type: none;
    font-size: 16px;
    color: #e4dbdb;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.primary-cta,
.secondary-cta {
    background-color: #091486;
    border-radius: 0.5rem;
    font-size: 1.125rem;
    font-weight: 550;
    img {
        height: 1.5rem;
        width: 1.5rem;
    }
    a {
        display: inline-flex;
        gap: 0.75rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0.5rem;
    }
}

.secondary-cta {
    background: none;
}

body {
    overflow-x: hidden;
}

a:hover {
    text-transform: uppercase;
}

button {
    border: none;
    background: none;
}

img {
    width: 100%;
    height: fit-content;
}

.work-cards-section {
    justify-content: space-between;
    gap: 0.5rem;
    height: 100%;
    .card {
        background-color: #050514;
        padding: 0.5rem;
        border-radius: 24px;
        height: auto;
        position: relative;
        color: #f9f9f9;
        img {
            // border-radius: 16px 16px 0 0;
            width: 100%;
        }
        .project-type {
            position: absolute;
            top: 5%;
            right: 5%;
            display: inline-flex;
            flex-direction: row;
            text-align: center;
            align-items: center;
            gap: 0.5rem;
            background-color: #62617a;
            padding: 0.5rem;
            border-radius: .75rem;
            font-size: 1rem;
            font-weight: 700;
            .dot {
                height: 12px;
                width: 12px;
                background-color: #033d03;
                border-radius: 50%;
            }
        }
        .description {
            width: 100%;
            align-items: center;
        }
        .name {
            font-size: 18px;
            font-weight: 600;
        }
        .info {
            font-size: 16px;
            font-weight: 400;
            padding: 8px 0;
        }
        .device {
            font-size: 16px;
            display: flex;
            padding: 8px 0;
        }
        .case-study {
            margin: 8px 0;
            font-size: 16px;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 0.5rem;
            height: 48px;
            // color: #0a0a25;
            // background-color: #f9f9f9;
            width: 100%;
            color: #f9f9f9;
        }
    }
}

button:hover {
    cursor: pointer;
}

h1,
h2 {
    font-size: 1.25rem;
    font-weight: 300;
    color: #e4dbdb;
    font-family: sans-serif;
    margin: 1rem 0;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
}

.social-icons {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1.5rem 0;
    img {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
    }
}

a {
    text-decoration: none;
    line-height: normal;
}

a:hover {
    cursor: pointer;
}

.portfolio-hero {
    margin: 4em 0 1rem;
    background-size: cover;
    background-position: center;
}

.contact-container {
    h2 {
        margin: 4em 0 0.5rem;
        border: #033d03 solid 100px
    }
}

p {
    font-size: 1.125rem;
    text-rendering: optimizeLegibility;
    font-weight: normal;
    line-height: 1.6;
    font-family: inherit;
}